@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .7rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--green);
}

body {
    background: #eee;
    padding-right: 5rem;
}

section {
    padding: 2rem 9%;
    min-height: 100vh;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #222;
}

.heading span {
    text-transform: uppercase;
    color: var(--green);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn-lr {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: rgb(246, 253, 254);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 5px;

}

.btn-lr:hover {
    background-color: #27ae60;
}


.btn:hover {
    background: var(--green);
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 1000;
}

header .navbar {
    writing-mode: vertical-lr;
    padding: 1.5rem;
}

header .navbar a {
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(254, 254, 254);
    margin: 5px;
    background-color: #27ae60;
    border-radius: 5px;
}

header .navbar a:hover {
    color: rgb(3, 240, 240);
}

#menu-bars {
    position: fixed;
    z-index: 10000;
    top: 1rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1rem solid var(--green);
}

.home .content h3 {
    font-size: 4rem;
    color: #222;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--green);
    text-transform: uppercase;
}

.home .content p {
    color: #222;
    font-size: 2.5rem;
    line-height: 2;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img {
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.about .row .content {
    flex: 1 1 55rem;
}

.about .row .content h3 {
    color: #222;
    font-size: 4rem;
}

.about .row .content h3 span {
    color: var(--green);
}

.about .row .content .info {
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.chinese {
    color: rgb(6, 248, 236);
}

.about .row .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
    font-size: 1.7rem;
    color: #222;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span {
    color: var(--green);
}

.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
    text-align: center;
}

.services .box-container .box i {
    color: var(--green);
    font-size: 5rem;
    padding: 1rem 0;
}

.services .box-container .box h3 {
    color: #222;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.services .box-container .box p {
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.portfolio .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
    height: 25rem;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box:hover .content {
    left: 0;
}

.blogs .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.blogs .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
}

.blogs .box-container .box img {
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3 {
    color: var(--green);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.blogs .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #fff;
}

.contact .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea {
    width: 100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #333;
    padding: 1rem;
    margin: 1rem 0;
    border: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus {
    border-color: var(--green);
}

.contact .row form .inputBox input {
    width: 49%;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn {
    margin: .5rem 0;
}



.footer {
    background-color: black;
    /* card-desc */
    padding: 40px;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
}

.footer-menu {

    display: flex;
}

.footer-menu a {
    color: #fff;
    display: block;
    margin: 15px 0;
    font-size: 1.5rem;
    margin-left: 35px
}

.footer-menu a:hover {
    background-color: grey;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;

}


.footer::after {
    display: table;
    content: '';
    clear: both;
}

.footer-desc {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 35px;
}











/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding-right: 0;
    }

    section {
        padding: 2rem;
    }

    header {
        width: 100%;
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    #menu-bars {
        display: initial;
    }

    header .navbar {
        /* writing-mode: vertical-rl; */
        writing-mode: horizontal-tb;
    }

    header .navbar a {
        display: block;
        font-size: 3rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 4rem;
    }

    .contact .row form .inputBox input {
        width: 100%;
    }

}

* Professional-experience starts here */ .card-icon {
    text-align: center;
}

.card-icon img {
    margin-top: 20px;
    width: 100px;

}

.rounded-img {
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}

.card-title h2 {
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}


/* extra part here */
.Professional-experience {
    padding: 1% 0%;
    margin: 15px;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .Professional-experience {
        display: block;
    }
}

.Professional-experience .card {
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 700px;

}

.Professional-experience.card:hover {
    box-shadow: 0 4px 8px 5px black;
}

.card-icon {
    text-align: center;
}

.card-icon img {
    margin-top: 20px;
    width: 100px;

}

.rounded-img {
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}

.card-title h2 {
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}

.skills-container {
    padding-right: 45px;
}

.skills-container li {
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;

}

.skills-container li::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 100%;
    height: 10px;
    background-color: skyblue;
    border-radius: 1000px;

}

.skills-container li::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 0%;
    height: 10px;
    border-radius: 1000px;
    background-color: deepskyblue;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skills-container li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }


}

.skills-container li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}

.skills-container li.Bootstrap::after {
    animation-name: Bootstrap;
}

@keyframes Bootstrap {
    to {
        width: 80%;
    }
}

.skills-container li.node::after {
    animation-name: node;
}

@keyframes node {
    to {
        width: 50%;
    }
}

.skills-container li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 50%;
    }
}



.skills-container li.react::after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 60%;
    }
}






.Professional-experience::after {
    clear: both;
    display: table;
    content: '';
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* for mobile  */
[class*="col-"] {
    width: 100%;
}

/* extra part here */
.card-desc {
    font-size: 15px;
    padding: auto;
}

.card-sizing {
    margin-left: 40px;
    margin-top: 30px;
}